@model UniversitySystem.ViewModel.StudentVM.StudentCreateStudentVM
@{
    ViewBag.Title = "CreateStudent";
}

<h2>Create student</h2>

<h1>@Html.ValidationMessage("Error")</h1>
@using (Html.BeginForm(FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
      
         @Html.Label("First name:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
        </div>
       
         @Html.Label("Last name:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
        </div>
      
          @*@Html.Label("Faculty number:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Student.FacultiNumber, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Student.FacultiNumber, "", new { @class = "text-danger" })
      
        </div>*@
        @Html.Label("Course :", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.selectedValueID, Model.CoursesList, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CoursesList, "", new { @class = "text-danger" })
        </div>
        
         

    </div>

        <div class="form-group">
            <div style="margin-top: 20px;" class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
}
<div>
    @Html.ActionLink("Back to List of students", "ListStudents")
</div>