@model UniversitySystem.ViewModel.StudentVM.StudentListStudentsVM
@{
    ViewBag.Title = "Students";
}


@Html.ActionLink("Add student", "CreateStudent")

<h2>Student list</h2>
@Html.ActionLink("Add student", "CreateStudent") ||
@Html.ActionLink("Deactivated students", "Deactivated")

<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>Faculty number</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Course</th>
            <th>Actions</th>
        </tr>
    </thead>
    @foreach (var item in Model.Students)
    {
        <tr>
            <td>
                @item.FacultiNumber
            </td>
            <td>
                @item.FirstName
            </td>
            <td>
                @item.LastName
            </td>
        
            <td>
               @item.Course.Name
            </td>
            <td>
                @Html.ActionLink("Edit student", "EditStudent", new { id = item.ID }) ||
                @Html.ActionLink("Export to Csv", "ExportSubjectListToCSV", new { id = item.ID }) ||
                @Html.ActionLink("Excel", "ExportSubjectListToExcel", new { id = item.ID })
            </td>
        </tr>
    }
</table>

@Html.ActionLink("Back to list", "ListStudents")